Repository apache/horaedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, cargo-sort

check-license:
  language: system
  entry: make check-license-header

cargo-sort:
  name: Check Cargo.toml is sorted
  entry: cargo-sort
  args:
  - --workspace
  language: rust
  pass_filenames: false

chore: update logo (#1414)
  docs/logo/horaedb-banner-transparent.png
  docs/logo/horaedb-banner-white-small.png
  docs/logo/horaedb-banner-white.jpg
  docs/logo/horaedb-character-transparent.png
  docs/logo/horaedb-character-white.jpg
  docs/logo/horaedb-transparent.png
  docs/logo/horaedb-white.jpg
Due: none

chore: update horaedb logo
  docs/logo/horaedb-banner-transparent.png
  docs/logo/horaedb-banner-white-small.jpg
  docs/logo/horaedb-banner-white-small.png
  docs/logo/horaedb-banner-white.jpg
  docs/logo/horaedb-character-transparent.png
  docs/logo/horaedb-character-white.jpg
  docs/logo/horaedb-transparent.png
  docs/logo/horaedb-white.jpg
Due: none

chore: update horaedb logo (#1415)
  docs/logo/horaedb-banner-transparent.png
  docs/logo/horaedb-banner-white-small.jpg
  docs/logo/horaedb-banner-white-small.png
  docs/logo/horaedb-banner-white.jpg
  docs/logo/horaedb-character-transparent.png
  docs/logo/horaedb-character-white.jpg
  docs/logo/horaedb-transparent.png
  docs/logo/horaedb-white.jpg
Due: none

chore: fix logo link in readme
  README-CN.md
  README.md
Due: none

refactor: avoid returning metrics in non-analyze sql (#1410)
  Cargo.lock
  Cargo.toml
  df_engine_extensions/src/dist_sql_query/mod.rs
  df_engine_extensions/src/dist_sql_query/physical_plan.rs
  query_engine/src/datafusion_impl/task_context.rs
  server/src/grpc/remote_engine_service/mod.rs
  table_engine/src/remote/model.rs
Due: check-license, cargo-sort

rename ceresformat to logformat
  components/logger/src/lib.rs
Due: check-license

chore: more rename to horaedb
  Dockerfile
  docker/entrypoint.sh
  src/horaedb/src/setup.rs
Due: check-license

chore: rename ceresformat to logformat (#1417)
  components/logger/src/lib.rs
Due: check-license

chore: fix logo link in readme (#1416)
  README-CN.md
  README.md
Due: none

chore: update github pages
  CNAME
Due: none

feat: block rules support query
  proxy/src/limiter.rs
  query_frontend/src/plan.rs
Due: check-license

refactor if blocks
  proxy/src/limiter.rs
Due: check-license

chore: update github pages
  .asf.yaml
Due: none

chore: update github pages (#1421)
  .asf.yaml
Due: none

chore: more rename to horaedb (#1419)
  Dockerfile
  docker/entrypoint.sh
  src/horaedb/src/setup.rs
Due: check-license

chore: update website url (#294)
  .asf.yaml
Due: none

add readable duration deserialize
  proxy/src/limiter.rs
Due: check-license

add block metrics
  proxy/src/limiter.rs
  proxy/src/metrics.rs
  proxy/src/read.rs
  query_frontend/src/plan.rs
Due: check-license

make use of layered memtable.
  analytic_engine/src/memtable/layered/factory.rs
  analytic_engine/src/table/data.rs
Due: check-license

when enable layered memtable, we should reorder data during flushing.
  analytic_engine/src/instance/flush_compaction.rs
  analytic_engine/src/table/data.rs
Due: check-license

modify mutable segment threshold and make it a config.
  analytic_engine/src/instance/open.rs
  analytic_engine/src/lib.rs
  analytic_engine/src/manifest/details.rs
  analytic_engine/src/table/data.rs
  analytic_engine/src/table_meta_set_impl.rs
Due: check-license

initial impl for `LazyeredMemtable`.
  analytic_engine/src/instance/flush_compaction.rs
  analytic_engine/src/memtable/columnar/factory.rs
  analytic_engine/src/memtable/factory.rs
  analytic_engine/src/memtable/layered/factory.rs
  analytic_engine/src/memtable/layered/iter.rs
  analytic_engine/src/memtable/layered/mod.rs
  analytic_engine/src/memtable/mod.rs
  analytic_engine/src/memtable/skiplist/mod.rs
  analytic_engine/src/row_iter/record_batch_stream.rs
  analytic_engine/src/table/data.rs
Due: check-license

fix clippy.
  analytic_engine/src/memtable/factory.rs
  analytic_engine/src/memtable/layered/factory.rs
  analytic_engine/src/memtable/layered/iter.rs
  analytic_engine/src/memtable/layered/mod.rs
  analytic_engine/src/memtable/skiplist/mod.rs
  analytic_engine/src/memtable/test_util.rs
  benchmarks/src/scan_memtable_bench.rs
Due: check-license

fix clippy.
  analytic_engine/src/memtable/layered/iter.rs
  analytic_engine/src/memtable/layered/mod.rs
  analytic_engine/src/memtable/skiplist/mod.rs
  analytic_engine/src/memtable/test_util.rs
  common_types/src/record_batch.rs
Due: check-license

fix projection.
  analytic_engine/src/memtable/layered/factory.rs
  analytic_engine/src/memtable/layered/iter.rs
  analytic_engine/src/memtable/layered/mod.rs
  analytic_engine/src/memtable/skiplist/mod.rs
  analytic_engine/src/memtable/test_util.rs
  analytic_engine/src/row_iter/record_batch_stream.rs
  analytic_engine/src/sst/parquet/async_reader.rs
  common_types/src/projected_schema.rs
  common_types/src/record_batch.rs
  common_types/src/time.rs
  scripts/license-header.txt
Due: check-license

extract dupliacte test codes for memtable unit test.
  analytic_engine/src/memtable/mod.rs
  analytic_engine/src/memtable/skiplist/mod.rs
  analytic_engine/src/memtable/test_util.rs
Due: check-license

fix clippy.
  analytic_engine/src/memtable/layered/mod.rs
Due: check-license

add test about filtering by time range.
  analytic_engine/src/memtable/layered/mod.rs
Due: check-license

add test for `time_range`, `min_key`, `max_key` methods.
  analytic_engine/src/memtable/layered/mod.rs
Due: check-license

attatch endpoint in remote client error
  remote_engine_client/src/client.rs
  remote_engine_client/src/lib.rs
Due: check-license

fix endpoint for write
  remote_engine_client/src/client.rs
Due: check-license

fix ci
  integration_tests/cases/env/cluster/ddl/partition_table.result
  integration_tests/cases/env/cluster/ddl/partition_table.sql
Due: none

fix bad name
  remote_engine_client/src/client.rs
Due: check-license

feat: block rules support query (#1420)
  proxy/src/limiter.rs
  proxy/src/metrics.rs
  proxy/src/read.rs
  query_frontend/src/plan.rs
Due: check-license

add table status check
  catalog/src/schema.rs
  catalog_impls/src/cluster_based.rs
  catalog_impls/src/lib.rs
  catalog_impls/src/volatile.rs
  cluster/src/cluster_impl.rs
  cluster/src/lib.rs
  cluster/src/shard_set.rs
  meta_client/src/types.rs
  router/src/cluster_based.rs
  src/ceresdb/src/setup.rs
Due: check-license

feat: try load page indexes
  analytic_engine/src/sst/parquet/async_reader.rs
Due: check-license

fix link
  analytic_engine/src/sst/parquet/async_reader.rs
Due: check-license

chore: fix error message (#1412)
  .github/workflows/ci.yml
  integration_tests/cases/env/cluster/ddl/partition_table.result
  integration_tests/cases/env/cluster/ddl/partition_table.sql
  interpreters/src/table_manipulator/meta_based.rs
  remote_engine_client/src/client.rs
  remote_engine_client/src/lib.rs
Due: check-license

refactor by cr
  catalog_impls/src/cluster_based.rs
  cluster/src/cluster_impl.rs
  cluster/src/lib.rs
  cluster/src/shard_set.rs
Due: check-license

fix CR
  analytic_engine/src/sst/parquet/async_reader.rs
Due: check-license

Path conditions:
  check-license: any of: \.(rs|toml|yml)$
  cargo-sort: any of: Cargo\.toml and \.toml$
