Repository apache/horaedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, cargo-sort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-toml
  - repo: local
    hooks:
      - id: check-license
        files: \.(rs|toml|yml)$
        language: system
        entry: make check-license-header
  - repo: local
    hooks:
      - id: cargo-sort
        name: Check Cargo.toml is sorted
        entry: cargo-sort
        args: ["--workspace"]
        language: rust
        types: [file, toml]
        files: Cargo\.toml
        pass_filenames: false

add comments
  src/analytic_engine/src/sst/meta_data/metadata_reader.rs
Due: check-license

chore(docs): fix invalid repo links (#1472)
  README-CN.md
Due: none

bump df
  Cargo.lock
  Cargo.toml
Due: check-license, cargo-sort

chore: fix panic caused by approx_percentile_cont
  Cargo.lock
  Cargo.toml
  integration_tests/cases/common/dml/issue-1087.result
  src/common_types/src/datum.rs
  src/table_engine/src/predicate.rs
Due: check-license, cargo-sort

fix(ci): refactor ci trigger conditions
  .github/workflows/ci.yml
  .github/workflows/meta-ci.yml
  horaemeta/scripts/run-integration-test.sh
  integration_tests/Makefile
  integration_tests/build_meta.sh
Due: check-license

remove integration test script for meta
  .github/workflows/meta-ci.yml
  horaemeta/Makefile
  horaemeta/scripts/run-integration-test.sh
Due: check-license

fix meta ci
  .github/workflows/meta-ci.yml
Due: check-license

feat(horaemeta): drop metadata of partition table by http api
  horaemeta/server/cluster/manager.go
Due: none

chore(horaemeta&horaectl): refactor clusters/diagnose response body
  ctl/operation/clusters.go
  horaemeta/server/service/http/types.go
Due: none

fix(ci): refactor ci trigger conditions (#1474)
  .github/workflows/ci.yml
  .github/workflows/meta-ci.yml
  horaemeta/Makefile
  horaemeta/scripts/run-integration-test.sh
  integration_tests/Makefile
  integration_tests/build_meta.sh
Due: check-license

refactor by CR
  horaemeta/server/cluster/manager.go
Due: none

chore(horaemeta&horaectl): refactor clusters/diagnose response body (#1475)
  ctl/operation/clusters.go
  horaemeta/server/service/http/types.go
Due: none

add enableSchedule
  ctl/cmd/cluster/cluster.go
  ctl/cmd/cluster/diagnose.go
  ctl/cmd/cluster/schedule.go
  ctl/cmd/root.go
  ctl/operation/clusters.go
  ctl/util/const.go
  ctl/util/util.go
Due: none

fix
  ctl/cmd/cluster.go
  ctl/cmd/cluster_dagnose.go
  ctl/cmd/cluster_list.go
  ctl/cmd/cluster_schedule.go
  ctl/cmd/root.go
  ctl/operation/clusters.go
Due: none

fix some style problems.
  .gitignore
  src/benchmarks/src/merge_sst_bench.rs
  src/horaedb/src/setup.rs
Due: check-license

remove outdated codes.
  src/analytic_engine/src/sst/parquet/async_reader.rs
Due: check-license

impl `Compactor`, `CompactionRuner`, `CompactionExecutor`.
  .gitignore
  src/analytic_engine/src/compaction/compactor.rs
  src/analytic_engine/src/compaction/executor.rs
  src/analytic_engine/src/compaction/mod.rs
  src/analytic_engine/src/compaction/runner/mod.rs
  src/analytic_engine/src/instance/flush_compaction.rs
  src/analytic_engine/src/instance/mod.rs
  src/analytic_engine/src/instance/read.rs
  src/analytic_engine/src/row_iter/merge.rs
  src/analytic_engine/src/sst/factory.rs
  src/analytic_engine/src/sst/parquet/async_reader.rs
  src/analytic_engine/src/sst/parquet/writer.rs
  src/analytic_engine/src/table/data.rs
  src/benchmarks/src/merge_memtable_bench.rs
  src/benchmarks/src/merge_sst_bench.rs
  src/benchmarks/src/sst_bench.rs
  src/benchmarks/src/sst_tools.rs
  src/benchmarks/src/util.rs
  src/tools/src/bin/sst-convert.rs
Due: check-license

remove unnecessary `CompactionExecutor`.
  src/analytic_engine/src/compaction/compactor.rs
  src/analytic_engine/src/compaction/mod.rs
  src/analytic_engine/src/compaction/runner/local_runner.rs
  src/analytic_engine/src/compaction/runner/mod.rs
  src/analytic_engine/src/compaction/scheduler.rs
  src/analytic_engine/src/instance/open.rs
  src/analytic_engine/src/setup.rs
Due: check-license

refactor process of open instance.
  src/analytic_engine/src/compaction/compactor.rs
  src/analytic_engine/src/compaction/executor.rs
  src/analytic_engine/src/compaction/runner/mod.rs
  src/analytic_engine/src/compaction/scheduler.rs
  src/analytic_engine/src/instance/mod.rs
  src/analytic_engine/src/instance/open.rs
  src/analytic_engine/src/setup.rs
  src/analytic_engine/src/tests/util.rs
  src/horaedb/src/setup.rs
Due: check-license

fix compaction process.
  src/analytic_engine/src/compaction/compactor.rs
  src/analytic_engine/src/compaction/executor.rs
  src/analytic_engine/src/instance/open.rs
Due: check-license

fix style.
  src/analytic_engine/src/compaction/runner/local_runner.rs
  src/analytic_engine/src/compaction/runner/mod.rs
  src/analytic_engine/src/instance/open.rs
Due: check-license

optimize comments and logs.
  src/analytic_engine/src/compaction/runner/mod.rs
  src/analytic_engine/src/setup.rs
Due: check-license

fix clippy.
  src/analytic_engine/src/compaction/compactor.rs
  src/analytic_engine/src/compaction/executor.rs
  src/analytic_engine/src/compaction/runner/mod.rs
  src/analytic_engine/src/compaction/scheduler.rs
  src/analytic_engine/src/instance/flush_compaction.rs
  src/analytic_engine/src/instance/mod.rs
  src/analytic_engine/src/instance/open.rs
  src/analytic_engine/src/setup.rs
  src/analytic_engine/src/sst/parquet/writer.rs
  src/analytic_engine/src/tests/util.rs
  src/benchmarks/src/merge_memtable_bench.rs
  src/benchmarks/src/merge_sst_bench.rs
  src/benchmarks/src/sst_bench.rs
  src/benchmarks/src/sst_tools.rs
  src/benchmarks/src/util.rs
  src/tools/src/bin/sst-convert.rs
Due: check-license

modify visibility.
  src/analytic_engine/src/compaction/compactor.rs
  src/analytic_engine/src/compaction/executor.rs
  src/analytic_engine/src/compaction/runner/mod.rs
Due: check-license

remove useless codes.
  src/analytic_engine/src/compaction/scheduler.rs
Due: check-license

feat: add sst level config for benchmark
  src/benchmarks/bench.toml
  src/benchmarks/config/bench.toml
  src/benchmarks/src/config.rs
  src/benchmarks/src/merge_sst_bench.rs
  src/benchmarks/src/util.rs
Due: check-license

remove disk report
  .github/workflows/ci.yml
Due: check-license

fix cargo sort
  .github/workflows/ci.yml
Due: check-license

fix cargo sort
  Cargo.toml
  src/df_engine_extensions/Cargo.toml
  src/horaedb/Cargo.toml
  src/meta_client/Cargo.toml
  src/wal/Cargo.toml
Due: check-license, cargo-sort

feat: add sst level config for benchmark (#1482)
  .github/workflows/ci.yml
  Cargo.toml
  src/benchmarks/bench.toml
  src/benchmarks/config/bench.toml
  src/benchmarks/src/config.rs
  src/benchmarks/src/merge_sst_bench.rs
  src/benchmarks/src/util.rs
  src/df_engine_extensions/Cargo.toml
  src/horaedb/Cargo.toml
  src/meta_client/Cargo.toml
  src/wal/Cargo.toml
Due: check-license, cargo-sort

fix
  src/df_engine_extensions/src/dist_sql_query/test_util.rs
Due: check-license

fix
  Cargo.toml
  src/components/parquet_ext/src/prune/min_max.rs
  src/df_operator/src/scalar.rs
  src/df_operator/src/udaf.rs
  src/query_engine/src/datafusion_impl/physical_optimizer/repartition.rs
  src/query_engine/src/datafusion_impl/physical_plan_extension/prom_align.rs
Due: check-license, cargo-sort

deps: bump datafusion
  Cargo.lock
  Cargo.toml
  src/analytic_engine/src/instance/reorder_memtable.rs
  src/analytic_engine/src/row_iter/record_batch_stream.rs
  src/common_types/src/datum.rs
  src/components/parquet_ext/src/meta_data.rs
  src/components/parquet_ext/src/prune/min_max.rs
  src/df_engine_extensions/src/dist_sql_query/physical_plan.rs
  src/df_operator/src/scalar.rs
  src/df_operator/src/udaf.rs
  src/interpreters/src/insert.rs
  src/query_engine/src/datafusion_impl/physical_optimizer/repartition.rs
  src/query_engine/src/datafusion_impl/physical_plan_extension/prom_align.rs
  src/query_engine/src/datafusion_impl/task_context.rs
  src/query_frontend/src/logical_optimizer/type_conversion.rs
  src/query_frontend/src/parser.rs
  src/query_frontend/src/planner.rs
  src/query_frontend/src/promql/convert.rs
  src/query_frontend/src/provider.rs
  src/table_engine/src/predicate.rs
  src/table_engine/src/provider.rs
Due: check-license, cargo-sort

fix
  src/df_engine_extensions/src/dist_sql_query/test_util.rs
  src/query_engine/src/datafusion_impl/task_context.rs
Due: check-license

fix clippy
  src/df_operator/src/scalar.rs
  src/df_operator/src/udaf.rs
  src/query_engine/src/datafusion_impl/mod.rs
  src/query_frontend/src/influxql/planner.rs
  src/query_frontend/src/logical_optimizer/type_conversion.rs
  src/query_frontend/src/provider.rs
Due: check-license

fix: remove bad optimize rule
  src/query_engine/src/datafusion_impl/mod.rs
Due: check-license

fix ut
  src/analytic_engine/src/instance/reorder_memtable.rs
  src/query_engine/src/datafusion_impl/mod.rs
Due: check-license

ensure aggr expr same size with filter exprs
  src/df_engine_extensions/src/dist_sql_query/test_util.rs
Due: check-license

fix warning
  src/analytic_engine/src/instance/reorder_memtable.rs
  src/analytic_engine/src/row_iter/record_batch_stream.rs
  src/analytic_engine/src/sst/parquet/async_reader.rs
  src/query_engine/src/datafusion_impl/mod.rs
  src/query_engine/src/datafusion_impl/task_context.rs
  src/query_frontend/src/logical_optimizer/mod.rs
  src/query_frontend/src/promql/convert.rs
  src/query_frontend/src/promql/remote.rs
Due: check-license

fix
  src/query_frontend/src/promql/convert.rs
  src/query_frontend/src/promql/remote.rs
Due: check-license
