Repository apache/horaedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, cargo-sort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-toml
  - repo: local
    hooks:
      - id: check-license
        files: \.(rs|toml|yml)$
        language: system
        entry: make check-license-header
  - repo: local
    hooks:
      - id: cargo-sort
        name: Check Cargo.toml is sorted
        entry: cargo-sort
        args: ["--workspace"]
        language: rust
        types: [file, toml]
        files: Cargo\.toml
        pass_filenames: false

feat: update pgwire to 0.19
  Cargo.lock
  server/Cargo.toml
  server/src/postgresql/handler.rs
Due: check-license, cargo-sort

refactor: remove useless procedure persist (#300)
  server/coordinator/procedure/operation/transferleader/transfer_leader.go
Due: none

chore!: replace ceresdb with test (#298)
  server/cluster/manager_test.go
  server/config/config.go
  server/coordinator/procedure/test/common.go
Due: none

chore: fix issue status of README-CN.md
  README-CN.md
Due: none

fix: avoid deprecated method
  query_frontend/src/logical_optimizer/type_conversion.rs
Due: check-license

chore: fix issue status of README-CN.md (#1437)
  README-CN.md
Due: none

fix: get_ranges is not spawned in io-runtime (#1426)
  components/object_store/src/metrics.rs
Due: check-license

fix: update pgwire to 0.19.1
  Cargo.lock
  server/Cargo.toml
Due: check-license, cargo-sort

chore: fix broken link (#301)
  CONTRIBUTING.md
Due: none

impl mysql federated
  Cargo.lock
  Cargo.toml
  interpreters/src/lib.rs
  server/Cargo.toml
  server/src/lib.rs
  server/src/mysql/federated.rs
  server/src/mysql/mod.rs
  server/src/mysql/worker.rs
  server/src/session/context.rs
  server/src/session/mod.rs
Due: check-license, cargo-sort

feat: update pgwire to 0.19 (#1436)
  Cargo.lock
  query_frontend/src/logical_optimizer/type_conversion.rs
  server/Cargo.toml
  server/src/postgresql/handler.rs
Due: check-license, cargo-sort

refactor code
  interpreters/src/lib.rs
  server/src/mysql/federated.rs
  server/src/mysql/service.rs
  server/src/mysql/worker.rs
  server/src/session.rs
  server/src/session/context.rs
  server/src/session/mod.rs
Due: check-license

make CI happy
  server/Cargo.toml
  server/src/mysql/federated.rs
  server/src/session.rs
Due: check-license, cargo-sort

refactor code
  Cargo.toml
  scripts/license-header.txt
  server/src/federated.rs
  server/src/lib.rs
  server/src/mysql/mod.rs
  server/src/mysql/worker.rs
Due: check-license, cargo-sort

make CI happy
  server/src/federated.rs
Due: check-license

feat: keep sst meta size
  analytic_engine/src/sst/meta_data/cache.rs
  analytic_engine/src/sst/meta_data/metadata_reader.rs
  analytic_engine/src/sst/meta_data/mod.rs
  analytic_engine/src/sst/parquet/encoding.rs
  analytic_engine/src/sst/parquet/writer.rs
Due: check-license

close sst before head
  analytic_engine/src/sst/parquet/writer.rs
Due: check-license

Apply suggestions from code review
  server/src/mysql/service.rs
Due: check-license

feat: filter out MySQL federated components' emitted statements (#1439)
  Cargo.lock
  Cargo.toml
  scripts/license-header.txt
  server/Cargo.toml
  server/src/federated.rs
  server/src/lib.rs
  server/src/mysql/service.rs
  server/src/mysql/worker.rs
  server/src/session.rs
Due: check-license, cargo-sort

feat: add system_stats lib to collect system stats
  Cargo.lock
  Cargo.toml
  components/system_stats/Cargo.toml
  components/system_stats/src/lib.rs
Due: check-license, cargo-sort

chore: re-export the LoadAvg
  components/system_stats/src/lib.rs
Due: check-license

fix: renaming
  components/system_stats/src/lib.rs
Due: check-license

feat: add system_stats lib to collect system stats (#1442)
  Cargo.lock
  Cargo.toml
  components/system_stats/Cargo.toml
  components/system_stats/src/lib.rs
Due: check-license, cargo-sort

rebase main
  Cargo.toml
  src/components/system_stats/Cargo.toml
  src/components/system_stats/src/lib.rs
Due: check-license, cargo-sort

deps: bump datafusion
  Cargo.lock
  Cargo.toml
  analytic_engine/src/instance/reorder_memtable.rs
  analytic_engine/src/row_iter/record_batch_stream.rs
  common_types/src/datum.rs
  components/parquet_ext/src/meta_data.rs
  components/parquet_ext/src/prune/min_max.rs
  df_engine_extensions/src/dist_sql_query/physical_plan.rs
  df_operator/src/scalar.rs
  df_operator/src/udaf.rs
  interpreters/src/insert.rs
  query_engine/src/datafusion_impl/physical_optimizer/repartition.rs
  query_engine/src/datafusion_impl/physical_plan_extension/prom_align.rs
  query_engine/src/datafusion_impl/task_context.rs
  query_frontend/src/logical_optimizer/type_conversion.rs
  query_frontend/src/parser.rs
  query_frontend/src/planner.rs
  query_frontend/src/promql/convert.rs
  query_frontend/src/provider.rs
  table_engine/src/predicate.rs
  table_engine/src/provider.rs
Due: check-license, cargo-sort

fix: table name is normalized when find timestamp column
  integration_tests/cases/env/local/ddl/query-plan.sql
  query_frontend/src/plan.rs
Due: check-license

fix CI
  integration_tests/cases/env/local/ddl/query-plan.result
  integration_tests/cases/env/local/ddl/query-plan.sql
  integration_tests/cases/env/local/system/system_tables.result
  integration_tests/cases/env/local/system/system_tables.sql
  interpreters/src/select.rs
  proxy/src/limiter.rs
  proxy/src/read.rs
  query_frontend/src/plan.rs
Due: check-license

fix ci
  src/query_frontend/src/plan.rs
Due: check-license

fix test
  src/components/system_stats/src/lib.rs
Due: check-license

fix: table name is normalized when find timestamp column (#1446)
  integration_tests/cases/env/local/ddl/query-plan.result
  integration_tests/cases/env/local/ddl/query-plan.sql
  integration_tests/cases/env/local/system/system_tables.result
  integration_tests/cases/env/local/system/system_tables.sql
  src/components/system_stats/src/lib.rs
  src/interpreters/src/select.rs
  src/proxy/src/limiter.rs
  src/proxy/src/read.rs
  src/query_frontend/src/plan.rs
Due: check-license

feat(horaectl): initial commit
  ctl/LICENSE
  ctl/README.md
  ctl/cmd/cluster.go
  ctl/cmd/diagnose.go
  ctl/cmd/quit.go
  ctl/cmd/root.go
  ctl/cmd/root_test.go
  ctl/go.mod
  ctl/go.sum
  ctl/licenserc.toml
  ctl/main.go
  ctl/operation/clusters.go
  ctl/operation/const.go
  ctl/operation/util.go
Due: check-license

feat: support collect statistics about the engine
  src/analytic_engine/src/engine.rs
  src/analytic_engine/src/instance/write.rs
  src/analytic_engine/src/sst/metrics.rs
  src/analytic_engine/src/sst/parquet/writer.rs
  src/analytic_engine/src/table/data.rs
  src/analytic_engine/src/table/metrics.rs
  src/benchmarks/src/merge_memtable_bench.rs
  src/benchmarks/src/merge_sst_bench.rs
  src/benchmarks/src/sst_bench.rs
  src/benchmarks/src/sst_tools.rs
  src/benchmarks/src/util.rs
  src/table_engine/src/engine.rs
  src/tools/src/bin/sst-convert.rs
Due: check-license

chore(docs): fix invalid repo links
  README.md
Due: none

chore(docs): fix invalid repo links (#1452)
  README.md
Due: none

not create schema in cluster mode
  src/server/src/server.rs
Due: check-license

refactor by CR
  ctl/LICENSE
  ctl/README.md
  ctl/cmd/cluster.go
  ctl/cmd/diagnose.go
  ctl/cmd/quit.go
  ctl/cmd/root.go
  ctl/operation/clusters.go
  ctl/operation/util.go
Due: none

update create tables result
  integration_tests/cases/env/cluster/ddl/create_tables.result
Due: none
