Repository apache/horaedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, cargo-sort

check-license:
  language: system
  entry: make check-license-header

cargo-sort:
  name: Check Cargo.toml is sorted
  entry: cargo-sort
  args:
  - --workspace
  language: rust
  pass_filenames: false

feat: try load page indexes (#1425)
  analytic_engine/src/sst/parquet/async_reader.rs
Due: check-license

ASF Infra: Delete CNAME
  CNAME
Due: none

refactor by cr
  catalog/src/schema.rs
  catalog_impls/src/cluster_based.rs
  cluster/src/lib.rs
Due: check-license

feat: support setting meta_addr&etcd_addrs by env
  src/horaedb/bin/horaedb-server.rs
  src/horaedb/src/config.rs
Due: check-license

make CI happy
  src/horaedb/src/config.rs
Due: check-license

feat: support setting meta_addr&etcd_addrs by env (#1427)
  src/horaedb/bin/horaedb-server.rs
  src/horaedb/src/config.rs
Due: check-license

refactor by cr
  catalog/src/schema.rs
  catalog_impls/src/cluster_based.rs
Due: check-license

chore: remove github pages in asf.yaml
  .asf.yaml
Due: none

move `LayeredMemtableOptions` to `TableOptions`.
  Cargo.lock
  Cargo.toml
  analytic_engine/src/instance/open.rs
  analytic_engine/src/instance/reorder_memtable.rs
  analytic_engine/src/manifest/details.rs
  analytic_engine/src/memtable/mod.rs
  analytic_engine/src/table/data.rs
  analytic_engine/src/table_meta_set_impl.rs
  analytic_engine/src/table_options.rs
  common_types/src/lib.rs
  docs/minimal.toml
  system_catalog/src/sys_catalog_table.rs
Due: check-license, cargo-sort

add debug logs.
  analytic_engine/src/table/data.rs
  docs/minimal.toml
  scripts/license-header.txt
Due: check-license

feat: support docker-compose and update README
  README-CN.md
  README.md
  docker/docker-compose.yaml
Due: none

fix license header.
  analytic_engine/src/instance/open.rs
  analytic_engine/src/instance/reorder_memtable.rs
  analytic_engine/src/manifest/details.rs
  analytic_engine/src/memtable/layered/mod.rs
  analytic_engine/src/memtable/mod.rs
  analytic_engine/src/table/data.rs
  analytic_engine/src/table_meta_set_impl.rs
  analytic_engine/src/table_options.rs
  common_types/src/lib.rs
  docs/minimal.toml
  system_catalog/src/sys_catalog_table.rs
Due: check-license

redirect ceresdbproto path.
  Cargo.lock
  Cargo.toml
Due: check-license, cargo-sort

refactor by CR
  docker/docker-compose.yaml
Due: none

Update README.md
  README.md
Due: none

chore: remove github pages in asf.yaml (#1428)
  .asf.yaml
Due: none

feat: add table status check (#1418)
  catalog/src/schema.rs
  catalog_impls/src/cluster_based.rs
  catalog_impls/src/lib.rs
  catalog_impls/src/volatile.rs
  cluster/src/cluster_impl.rs
  cluster/src/lib.rs
  cluster/src/shard_set.rs
  meta_client/src/types.rs
  router/src/cluster_based.rs
  src/ceresdb/src/setup.rs
Due: check-license

feat: support docker-compose and update README (#1429)
  README-CN.md
  README.md
  docker/docker-compose.yaml
Due: none

fix somethings including logs, comments, style.
  analytic_engine/src/lib.rs
  analytic_engine/src/memtable/layered/factory.rs
  analytic_engine/src/memtable/layered/mod.rs
  analytic_engine/src/memtable/test_util.rs
  analytic_engine/src/table/data.rs
Due: check-license

seq may equal to last seq
  analytic_engine/src/instance/write.rs
Due: check-license

feat: impl layered memtable to reduce duplicated encode during scan (#1271)
  Cargo.lock
  Cargo.toml
  analytic_engine/src/instance/flush_compaction.rs
  analytic_engine/src/lib.rs
  analytic_engine/src/memtable/columnar/factory.rs
  analytic_engine/src/memtable/factory.rs
  analytic_engine/src/memtable/layered/factory.rs
  analytic_engine/src/memtable/layered/iter.rs
  analytic_engine/src/memtable/layered/mod.rs
  analytic_engine/src/memtable/mod.rs
  analytic_engine/src/memtable/skiplist/mod.rs
  analytic_engine/src/memtable/test_util.rs
  analytic_engine/src/row_iter/record_batch_stream.rs
  analytic_engine/src/sst/parquet/async_reader.rs
  analytic_engine/src/table/data.rs
  analytic_engine/src/table_meta_set_impl.rs
  analytic_engine/src/table_options.rs
  benchmarks/src/scan_memtable_bench.rs
  common_types/src/lib.rs
  common_types/src/projected_schema.rs
  common_types/src/record_batch.rs
  common_types/src/time.rs
  system_catalog/src/sys_catalog_table.rs
Due: check-license, cargo-sort

add remote query log
  server/src/grpc/remote_engine_service/mod.rs
Due: check-license

feat: update disk cache in another thread to avoid blocking normal query process
  analytic_engine/src/setup.rs
  components/object_store/src/disk_cache.rs
Due: check-license

fix warning
  analytic_engine/src/instance/write.rs
  server/src/grpc/remote_engine_service/mod.rs
Due: check-license

chore: skip wal seq check when wal is disabled (#1430)
  analytic_engine/src/instance/write.rs
  server/src/grpc/remote_engine_service/mod.rs
Due: check-license

fix ci test
  components/object_store/src/disk_cache.rs
Due: check-license

compatible for old table options.
  analytic_engine/src/table_options.rs
Due: check-license

feat: update disk cache in another thread to avoid blocking normal query process (#1431)
  analytic_engine/src/setup.rs
  components/object_store/src/disk_cache.rs
Due: check-license

fix: compatible for old table options (#1432)
  analytic_engine/src/table_options.rs
Due: check-license

fix: get_ranges is not spawned in io-runtime
  components/object_store/src/metrics.rs
Due: check-license

fix: invalid license header
  analytic_engine/src/memtable/layered/factory.rs
  analytic_engine/src/memtable/layered/iter.rs
  analytic_engine/src/memtable/layered/mod.rs
  analytic_engine/src/memtable/test_util.rs
  catalog_impls/src/cluster_based.rs
  components/runtime/src/priority_runtime.rs
  query_frontend/src/logical_optimizer/mod.rs
  server/src/grpc/remote_engine_service/metrics.rs
Due: check-license

fix: upgrade the horaedb proto to latest version
  Cargo.lock
  Cargo.toml
  server/src/grpc/remote_engine_service/mod.rs
  table_engine/src/remote/model.rs
  table_engine/src/table.rs
Due: check-license, cargo-sort

refactor: refactor create table procedure (#288)
  server/coordinator/procedure/ddl/createtable/create_table.go
  server/service/grpc/service.go
Due: none

fix: fix integration tests on dev branch (#287)
  pkg/coderr/error_test.go
Due: none

feat: add drop shard node api (#295)
  server/service/http/api.go
  server/service/http/error.go
  server/service/http/types.go
Due: none

fix ut
  pkg/coderr/error_test.go
Due: none

fix: update the integration test results
  integration_tests/cases/env/cluster/ddl/partition_table.result
  integration_tests/cases/env/cluster/ddl/partition_table.sql
Due: none

chore: enable merge on github
  .asf.yaml
Due: none

chore: enable merge on github (#1435)
  .asf.yaml
Due: none

Path conditions:
  check-license: any of: \.(rs|toml|yml)$
  cargo-sort: any of: Cargo\.toml and \.toml$
