Repository apache/horaedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, cargo-sort

check-license:
  language: system
  entry: make check-license-header

cargo-sort:
  name: Check Cargo.toml is sorted
  entry: cargo-sort
  args:
  - --workspace
  language: rust
  pass_filenames: false

fix: fix broken link
  CONTRIBUTING.md
Due: none

add table number
  analytic_engine/src/instance/open.rs
Due: check-license

fix: fix broken link (#1399)
  CONTRIBUTING.md
Due: none

fix: disable wal encoding
  analytic_engine/src/instance/mod.rs
  analytic_engine/src/instance/open.rs
  analytic_engine/src/instance/write.rs
  analytic_engine/src/lib.rs
Due: check-license

chore: refactor for better readability (#1400)
  analytic_engine/src/instance/open.rs
Due: check-license

chore: add asf yaml (#292)
  .asf.yaml
Due: none

chore: fix publish nightly image (#293)
  .github/workflows/publish-nightly-image.yml
Due: check-license

feat: wait for write notification in io runtime
  analytic_engine/src/instance/mod.rs
  analytic_engine/src/table/mod.rs
  table_engine/src/table.rs
Due: check-license

fix: the broken link about the issue status
  README.md
Due: none

fix: the broken link about the issue status (#1402)
  README.md
Due: none

fix cr
  analytic_engine/src/instance/write.rs
  analytic_engine/src/lib.rs
  analytic_engine/src/table/data.rs
Due: check-license

fix cr
  components/runtime/src/priority_runtime.rs
  docs/example-cluster-0.toml
  interpreters/src/select.rs
  query_frontend/src/plan.rs
  server/src/grpc/remote_engine_service/mod.rs
  table_engine/src/remote/model.rs
Due: check-license

chore: update website url
  .asf.yaml
  CONTRIBUTING.md
  README-CN.md
  README.md
  docs/dockerhub-description.md
Due: none

fix: disable percentile for distributed tables
  df_engine_extensions/src/dist_sql_query/physical_plan.rs
Due: check-license

add ci
  integration_tests/cases/env/cluster/ddl/partition_table.result
  integration_tests/cases/env/cluster/ddl/partition_table.sql
Due: none

add blacklist expr fn
  df_engine_extensions/src/dist_sql_query/physical_plan.rs
Due: check-license

fix: skip wal encoding when data wal is disabled (#1401)
  analytic_engine/src/instance/mod.rs
  analytic_engine/src/instance/open.rs
  analytic_engine/src/instance/write.rs
  analytic_engine/src/lib.rs
  analytic_engine/src/table/data.rs
Due: check-license

chore: add error for remote server
  server/src/grpc/remote_engine_service/mod.rs
Due: check-license

fix test
  integration_tests/cases/common/dml/issue-1087.result
  integration_tests/cases/common/dml/issue-341.result
  integration_tests/cases/common/dml/issue-59.result
  integration_tests/cases/common/explain/explain.result
  integration_tests/cases/common/optimizer/optimizer.result
  integration_tests/cases/env/local/ddl/query-plan.result
Due: none

fix CR
  interpreters/src/select.rs
  proxy/src/read.rs
  query_frontend/src/plan.rs
Due: check-license

chore: add error log for remote server (#1407)
  server/src/grpc/remote_engine_service/mod.rs
Due: check-license

fix: disable percentile for distributed tables (#1406)
  df_engine_extensions/src/dist_sql_query/physical_plan.rs
  integration_tests/cases/env/cluster/ddl/partition_table.result
  integration_tests/cases/env/cluster/ddl/partition_table.sql
Due: check-license

remove planner out of builder
  df_engine_extensions/src/dist_sql_query/resolver.rs
  df_engine_extensions/src/dist_sql_query/test_util.rs
  query_engine/src/datafusion_impl/mod.rs
  query_engine/src/datafusion_impl/physical_planner.rs
  query_engine/src/datafusion_impl/task_context.rs
Due: check-license

fix name
  analytic_engine/src/tests/util.rs
  components/runtime/src/priority_runtime.rs
  server/src/grpc/remote_engine_service/mod.rs
  src/ceresdb/src/setup.rs
Due: check-license

feat: dist sql analyze (#1260)
  Cargo.lock
  Cargo.toml
  df_engine_extensions/src/dist_sql_query/mod.rs
  df_engine_extensions/src/dist_sql_query/physical_plan.rs
  df_engine_extensions/src/dist_sql_query/resolver.rs
  df_engine_extensions/src/dist_sql_query/test_util.rs
  integration_tests/cases/env/cluster/ddl/partition_table.result
  integration_tests/cases/env/cluster/ddl/partition_table.sql
  query_engine/src/datafusion_impl/executor.rs
  query_engine/src/datafusion_impl/physical_planner.rs
  query_engine/src/datafusion_impl/task_context.rs
  query_engine/src/executor.rs
  query_engine/src/physical_planner.rs
  remote_engine_client/src/client.rs
  server/src/grpc/remote_engine_service/mod.rs
  table_engine/src/partition/rule/key.rs
  table_engine/src/provider.rs
  table_engine/src/remote/model.rs
Due: check-license, cargo-sort

chore: update website url (#1404)
  .asf.yaml
  CONTRIBUTING.md
  README-CN.md
  README.md
  docs/dockerhub-description.md
Due: none

fix ci
  integration_tests/cases/env/cluster/ddl/partition_table.result
Due: none

feat: upgrade horaedbproto
  Cargo.lock
  Cargo.toml
  meta_client/src/meta_impl.rs
Due: check-license, cargo-sort

chore: upload horaedb logo
  README-CN.md
  README.md
  docs/logo/horaedb-banner-transparent.png
  docs/logo/horaedb-banner-white-small.png
  docs/logo/horaedb-banner-white.jpg
  docs/logo/horaedb-character-transparent.png
  docs/logo/horaedb-character-white.jpg
  docs/logo/horaedb-single-logo-transparent.png
  docs/logo/horaedb-single-logo.jpg
  docs/logo/horaedb-transparent.png
  docs/logo/horaedb-white.jpg
Due: none

chore: upload horaedb logo (#1409)
  README-CN.md
  README.md
  docs/logo/horaedb-banner-transparent.png
  docs/logo/horaedb-banner-white-small.png
  docs/logo/horaedb-banner-white.jpg
  docs/logo/horaedb-character-transparent.png
  docs/logo/horaedb-character-white.jpg
  docs/logo/horaedb-single-logo-transparent.png
  docs/logo/horaedb-single-logo.jpg
  docs/logo/horaedb-transparent.png
  docs/logo/horaedb-white.jpg
Due: none

feat!: upgrade horaedbproto (#297)
  go.mod
  go.sum
  server/server.go
  server/service/grpc/forward.go
  server/service/grpc/service.go
Due: none

avoid returning metrics in non-analyze sql
  Cargo.lock
  Cargo.toml
  df_engine_extensions/src/dist_sql_query/mod.rs
  df_engine_extensions/src/dist_sql_query/physical_plan.rs
  query_engine/src/datafusion_impl/task_context.rs
  server/src/grpc/remote_engine_service/mod.rs
  table_engine/src/remote/model.rs
Due: check-license, cargo-sort

chore: add slack link (#1395)
  README-CN.md
  README.md
Due: none

chore: fix error message
  .github/workflows/ci.yml
  interpreters/src/table_manipulator/meta_based.rs
Due: check-license

feat: upgrade horaedbproto (#1408)
  Cargo.lock
  Cargo.toml
  meta_client/src/meta_impl.rs
Due: check-license, cargo-sort

refactor
  Cargo.lock
  Cargo.toml
  server/src/grpc/remote_engine_service/mod.rs
  table_engine/src/remote/model.rs
Due: check-license, cargo-sort

drain record batch when plan is explain
  server/src/grpc/remote_engine_service/mod.rs
Due: check-license

chore: update logo
  docs/logo/horaedb-banner-transparent.png
  docs/logo/horaedb-banner-white-small.png
  docs/logo/horaedb-banner-white.jpg
  docs/logo/horaedb-character-transparent.png
  docs/logo/horaedb-character-white.jpg
  docs/logo/horaedb-transparent.png
  docs/logo/horaedb-white.jpg
Due: none

Path conditions:
  check-license: any of: \.(rs|toml|yml)$
  cargo-sort: any of: Cargo\.toml and \.toml$
