Repository apache/horaedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, cargo-sort

check-license:
  language: system
  entry: make check-license-header

cargo-sort:
  name: Check Cargo.toml is sorted
  entry: cargo-sort
  args:
  - --workspace
  language: rust
  pass_filenames: false

bump df
  Cargo.lock
  Cargo.toml
  integration_tests/cases/common/dml/issue-302.result
  integration_tests/cases/common/dml/issue-341.result
  integration_tests/cases/common/dml/issue-59.result
  integration_tests/cases/common/explain/explain.result
  integration_tests/cases/common/optimizer/optimizer.result
  integration_tests/cases/env/local/ddl/query-plan.result
  src/analytic_engine/src/instance/reorder_memtable.rs
  src/common_types/src/datum.rs
  src/query_engine/src/datafusion_impl/mod.rs
  src/query_frontend/src/logical_optimizer/type_conversion.rs
  src/query_frontend/src/parser.rs
  src/table_engine/src/provider.rs
  src/table_engine/src/table.rs
Due: check-license, cargo-sort

fix fmt
  src/common_types/src/record_batch.rs
  src/components/parquet_ext/src/prune/min_max.rs
  src/query_engine/src/datafusion_impl/mod.rs
  src/query_frontend/src/logical_optimizer/type_conversion.rs
  src/query_frontend/src/plan.rs
  src/query_frontend/src/promql/convert.rs
  src/query_frontend/src/provider.rs
Due: check-license

fix clippy
  src/df_engine_extensions/src/dist_sql_query/test_util.rs
  src/query_engine/src/datafusion_impl/physical_plan_extension/prom_align.rs
  src/query_frontend/src/logical_optimizer/type_conversion.rs
Due: check-license

fix test_interpreters_rocks
  src/common_types/src/record_batch.rs
  src/interpreters/src/tests.rs
  src/proxy/src/grpc/prom_query.rs
  src/proxy/src/influxdb/types.rs
  src/table_engine/src/memory.rs
Due: check-license

debug fmt
  integration_tests/cases/env/cluster/ddl/partition_table.result
  src/analytic_engine/src/row_iter/merge.rs
  src/analytic_engine/src/table/mod.rs
  src/common_types/src/record_batch.rs
  src/interpreters/src/tests.rs
Due: check-license

fix integration test
  integration_tests/cases/common/dml/issue-341.result
  integration_tests/cases/env/cluster/ddl/partition_table.result
  integration_tests/cases/env/cluster/ddl/partition_table.sql
Due: none

fix tests
  Cargo.lock
  Cargo.toml
  integration_tests/cases/common/dml/issue-1087.result
  integration_tests/cases/common/dml/issue-59.result
  integration_tests/cases/common/optimizer/optimizer.result
  src/analytic_engine/src/row_iter/record_batch_stream.rs
  src/analytic_engine/src/sst/parquet/async_reader.rs
  src/components/parquet_ext/src/prune/min_max.rs
  src/query_engine/src/datafusion_impl/mod.rs
  src/query_engine/src/datafusion_impl/physical_plan_extension/prom_align.rs
  src/query_frontend/src/logical_optimizer/type_conversion.rs
  src/query_frontend/src/plan.rs
  src/query_frontend/src/planner.rs
  src/query_frontend/src/promql/convert.rs
  src/query_frontend/src/promql/remote.rs
  src/table_engine/src/predicate.rs
Due: check-license, cargo-sort

chore: free disk for ci
  .github/workflows/ci.yml
  Makefile
  scripts/free-disk-space.sh
Due: check-license

add node inspector
  horaemeta/server/cluster/cluster.go
  horaemeta/server/coordinator/inspector/node_inspector.go
Due: none

update query plan
  integration_tests/cases/env/local/ddl/query-plan.result
  integration_tests/cases/env/local/ddl/query-plan.sql
Due: none

keep /opt/hostedtoolcache
  scripts/free-disk-space.sh
Due: none

fix CR
  scripts/free-disk-space.sh
Due: none

chore: free disk for ci (#1484)
  .github/workflows/ci.yml
  Makefile
  scripts/free-disk-space.sh
Due: check-license

fix missing column
  src/analytic_engine/src/table/mod.rs
  src/table_engine/src/provider.rs
Due: check-license

fix pushdown
  src/analytic_engine/src/table/mod.rs
  src/table_engine/src/provider.rs
Due: check-license

fix missing columns
  integration_tests/cases/common/dml/issue-341.result
  integration_tests/cases/env/local/ddl/query-plan.result
  src/common_types/src/projected_schema.rs
  src/table_engine/src/provider.rs
Due: check-license

add more comments
  integration_tests/cases/env/cluster/ddl/partition_table.result
  src/table_engine/src/provider.rs
Due: check-license

remove unwrap
  src/analytic_engine/src/instance/reorder_memtable.rs
  src/analytic_engine/src/row_iter/merge.rs
  src/interpreters/src/insert.rs
  src/query_engine/src/datafusion_impl/physical_plan_extension/prom_align.rs
Due: check-license

fix influxdb tests
  src/proxy/src/influxdb/types.rs
  src/table_engine/src/provider.rs
Due: check-license

fix memtable scan
  integration_tests/cases/common/dml/issue-341.result
  integration_tests/cases/common/function/aggregate.result
  integration_tests/cases/common/function/aggregate.sql
  src/analytic_engine/src/memtable/skiplist/iter.rs
  src/common_types/src/record_batch.rs
Due: check-license

rebase master
  Cargo.lock
  Cargo.toml
  src/analytic_engine/src/sst/file.rs
  src/components/future_ext/Cargo.toml
  src/components/future_ext/src/lib.rs
  src/components/future_ext/src/retry.rs
  src/components/table_kv/src/obkv/tests.rs
  src/components/table_kv/src/tests.rs
  src/server/src/grpc/meta_event_service/mod.rs
Due: check-license, cargo-sort

fix CI problems.
  src/components/skiplist/benches/bench.rs
  src/meta_client/src/load_balance.rs
Due: check-license

fix CI issues
  src/analytic_engine/src/sst/file.rs
  src/components/future_ext/src/lib.rs
  src/components/future_ext/src/retry.rs
  src/server/src/grpc/meta_event_service/mod.rs
Due: check-license

edit: datum string type Added utf8 check
  src/common_types/src/datum.rs
Due: check-license

fix pr issues
  src/analytic_engine/src/sst/file.rs
  src/components/future_ext/src/retry.rs
Due: check-license

fix ci issue
  src/components/future_ext/src/retry.rs
Due: check-license

feat: add exponential backoff when retry (#1486)
  Cargo.lock
  Cargo.toml
  src/analytic_engine/src/sst/file.rs
  src/components/future_ext/Cargo.toml
  src/components/future_ext/src/lib.rs
  src/components/future_ext/src/retry.rs
  src/components/skiplist/benches/bench.rs
  src/components/table_kv/src/obkv/tests.rs
  src/components/table_kv/src/tests.rs
  src/meta_client/src/load_balance.rs
  src/server/src/grpc/meta_event_service/mod.rs
Due: check-license, cargo-sort

refactor: refactor compaction process for remote compaction (#1476)
  src/analytic_engine/src/compaction/compactor.rs
  src/analytic_engine/src/compaction/mod.rs
  src/analytic_engine/src/compaction/runner/local_runner.rs
  src/analytic_engine/src/compaction/runner/mod.rs
  src/analytic_engine/src/compaction/scheduler.rs
  src/analytic_engine/src/instance/flush_compaction.rs
  src/analytic_engine/src/instance/mod.rs
  src/analytic_engine/src/instance/open.rs
  src/analytic_engine/src/instance/read.rs
  src/analytic_engine/src/row_iter/merge.rs
  src/analytic_engine/src/setup.rs
  src/analytic_engine/src/sst/factory.rs
  src/analytic_engine/src/sst/parquet/async_reader.rs
  src/analytic_engine/src/sst/parquet/writer.rs
  src/analytic_engine/src/table/data.rs
  src/analytic_engine/src/tests/util.rs
  src/benchmarks/src/merge_memtable_bench.rs
  src/benchmarks/src/merge_sst_bench.rs
  src/benchmarks/src/sst_bench.rs
  src/benchmarks/src/sst_tools.rs
  src/benchmarks/src/util.rs
  src/horaedb/src/setup.rs
  src/tools/src/bin/sst-convert.rs
Due: check-license

horaectl: remove go implementation of horaectl
  ctl/README.md
  ctl/cmd/cluster.go
  ctl/cmd/diagnose.go
  ctl/cmd/quit.go
  ctl/cmd/root.go
  ctl/cmd/root_test.go
  ctl/go.mod
  ctl/go.sum
  ctl/licenserc.toml
  ctl/main.go
  ctl/operation/clusters.go
  ctl/operation/const.go
  ctl/operation/util.go
Due: check-license

horaectl: remove go implementation of horaectl (#1490)
  ctl/README.md
  ctl/cmd/cluster.go
  ctl/cmd/diagnose.go
  ctl/cmd/quit.go
  ctl/cmd/root.go
  ctl/cmd/root_test.go
  ctl/go.mod
  ctl/go.sum
  ctl/licenserc.toml
  ctl/main.go
  ctl/operation/clusters.go
  ctl/operation/const.go
  ctl/operation/util.go
Due: check-license

chore: update version to 2.0.0, prepare for releasing v2.0.0
  Cargo.toml
Due: check-license, cargo-sort

make CI happy
  Cargo.lock
Due: none

chore: update version to 2.0.0, prepare for releasing v2.0.0 (#1487)
  Cargo.lock
  Cargo.toml
Due: check-license, cargo-sort

chore: add NOTICE file and ASF header
  .github/workflows/ci.yml
  Makefile
  NOTICE
  licenserc.toml
Due: check-license

chore: add DISCLAIMER file
  DISCLAIMER
Due: none

add ASF license header
  horaemeta/Makefile
  horaemeta/server/coordinator/scheduler/nodepicker/hash/consistent_uniform.go
  horaemeta/server/coordinator/scheduler/nodepicker/hash/consistent_uniform_test.go
  horaemeta/server/service/http/route.go
  integration_tests/Makefile
  integration_tests/sdk/go/alteraddcolumn.go
  integration_tests/sdk/go/autocreatetable.go
  integration_tests/sdk/go/issue-779.go
  integration_tests/sdk/go/main.go
  integration_tests/sdk/go/util.go
Due: none

upgrade rustc
  Cargo.lock
  rust-toolchain.toml
  src/analytic_engine/src/instance/reorder_memtable.rs
  src/analytic_engine/src/lib.rs
  src/analytic_engine/src/memtable/layered/mod.rs
  src/analytic_engine/src/table/mod.rs
  src/common_types/src/column_block.rs
  src/components/codec/src/columnar/mod.rs
  src/components/object_store/src/disk_cache.rs
  src/components/parquet_ext/src/prune/equal.rs
  src/components/partitioned_lock/src/lib.rs
  src/components/profile/src/lib.rs
  src/components/skiplist/Cargo.toml
  src/components/table_kv/Cargo.toml
  src/df_engine_extensions/src/dist_sql_query/mod.rs
  src/proxy/src/handlers/mod.rs
  src/proxy/src/hotspot.rs
  src/query_engine/src/datafusion_impl/physical_plan_extension/prom_align.rs
  src/query_frontend/src/logical_optimizer/type_conversion.rs
  src/query_frontend/src/planner.rs
  src/remote_engine_client/src/client.rs
  src/router/src/rule_based.rs
  src/table_engine/src/partition/rule/df_adapter/extractor.rs
  src/table_engine/src/partition/rule/df_adapter/mod.rs
  src/table_engine/src/partition/rule/key.rs
  src/tools/src/bin/sst-metadata.rs
Due: check-license, cargo-sort

upgrade clap version
  Cargo.lock
  Cargo.toml
  src/benchmarks/src/bin/sst-tools.rs
  src/horaedb/bin/horaedb-server.rs
  src/tools/src/bin/sst-metadata.rs
Due: check-license, cargo-sort

modify ci rustc version
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
Due: check-license

Path conditions:
  check-license: any of: \.(rs|toml|yml)$
  cargo-sort: any of: Cargo\.toml and \.toml$
