Repository apache/horaedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, cargo-sort

check-license:
  language: system
  entry: make check-license-header

cargo-sort:
  name: Check Cargo.toml is sorted
  entry: cargo-sort
  args:
  - --workspace
  language: rust
  pass_filenames: false

feat(horaectl): initial commit (#1450)
  ctl/README.md
  ctl/cmd/cluster.go
  ctl/cmd/diagnose.go
  ctl/cmd/quit.go
  ctl/cmd/root.go
  ctl/cmd/root_test.go
  ctl/go.mod
  ctl/go.sum
  ctl/licenserc.toml
  ctl/main.go
  ctl/operation/clusters.go
  ctl/operation/const.go
  ctl/operation/util.go
Due: check-license

fix: missing filter index over the primary keys
  src/analytic_engine/src/sst/parquet/async_reader.rs
  src/analytic_engine/src/sst/parquet/meta_data/filter.rs
  src/analytic_engine/src/sst/parquet/meta_data/mod.rs
  src/analytic_engine/src/sst/parquet/row_group_pruner.rs
  src/analytic_engine/src/sst/parquet/writer.rs
Due: check-license

refactor: adjust cpu's stats
  src/components/system_stats/src/lib.rs
Due: check-license

refactor: adjust cpu's stats (#1457)
  src/components/system_stats/src/lib.rs
Due: check-license

change defautl catalog back
  src/catalog/src/consts.rs
  src/server/src/server.rs
Due: check-license

make default catalog configable
  Cargo.lock
  src/catalog/Cargo.toml
  src/catalog/src/consts.rs
  src/catalog_impls/src/table_based.rs
  src/catalog_impls/src/volatile.rs
  src/query_frontend/src/planner.rs
  src/server/src/session.rs
Due: check-license, cargo-sort

fix clippy
  src/catalog/src/consts.rs
  src/query_frontend/src/tests.rs
  src/server/src/server.rs
  src/server/src/session.rs
Due: check-license

fix fmt
  src/catalog_impls/src/volatile.rs
Due: check-license

fix: changes required for migrate dev to main (#1455)
  Cargo.lock
  src/catalog/Cargo.toml
  src/catalog/src/consts.rs
  src/catalog_impls/src/table_based.rs
  src/catalog_impls/src/volatile.rs
  src/query_frontend/src/planner.rs
  src/query_frontend/src/tests.rs
  src/server/src/session.rs
Due: check-license, cargo-sort

refactor: make create table idempotent (#286)
  server/cluster/cluster.go
  server/cluster/metadata/cluster_metadata.go
  server/cluster/metadata/topology_manager.go
  server/coordinator/factory.go
  server/coordinator/factory_test.go
  server/coordinator/persist_shard_picker.go
  server/coordinator/persist_shard_picker_test.go
  server/coordinator/procedure/ddl/createtable/create_table.go
  server/coordinator/procedure/error.go
  server/coordinator/scheduler/manager/scheduler_manager_test.go
  server/coordinator/scheduler/rebalanced/scheduler_test.go
  server/coordinator/scheduler/reopen/scheduler_test.go
  server/coordinator/scheduler/static/scheduler_test.go
  server/etcdutil/util.go
  server/etcdutil/util_test.go
  server/storage/key_path.go
  server/storage/meta.go
  server/storage/storage_impl.go
  server/storage/types.go
Due: none

fix: missing filter index over the primary keys (#1456)
  src/analytic_engine/src/sst/parquet/async_reader.rs
  src/analytic_engine/src/sst/parquet/meta_data/filter.rs
  src/analytic_engine/src/sst/parquet/meta_data/mod.rs
  src/analytic_engine/src/sst/parquet/row_group_pruner.rs
  src/analytic_engine/src/sst/parquet/writer.rs
Due: check-license

chore: update create tables result (#1454)
  integration_tests/cases/env/cluster/ddl/create_tables.result
Due: none

fix: random failure of test_collect_system_stats
  src/components/system_stats/src/lib.rs
Due: check-license

add opentsdb query types
  src/proxy/src/opentsdb/mod.rs
  src/proxy/src/opentsdb/types.rs
  src/server/src/http.rs
Due: check-license

add sub query plans
  query_frontend/src/datafusion_util.rs
  query_frontend/src/lib.rs
  query_frontend/src/opentsdb/mod.rs
  query_frontend/src/opentsdb/types.rs
Due: check-license

add opentsdb in frontend
  Cargo.lock
  query_frontend/src/lib.rs
  query_frontend/src/opentsdb/mod.rs
  query_frontend/src/opentsdb/types.rs
  src/proxy/src/opentsdb/mod.rs
  src/proxy/src/opentsdb/types.rs
  src/query_frontend/Cargo.toml
  src/query_frontend/src/frontend.rs
  src/query_frontend/src/planner.rs
Due: check-license, cargo-sort

return empty response
  query_frontend/src/opentsdb/mod.rs
  src/proxy/src/opentsdb/mod.rs
  src/proxy/src/opentsdb/types.rs
  src/query_frontend/src/planner.rs
  src/server/src/http.rs
Due: check-license

modify test_convert_output_to_response
  src/proxy/src/opentsdb/types.rs
Due: check-license

add test_convert_output_to_response
  query_frontend/src/datafusion_util.rs
  query_frontend/src/opentsdb/mod.rs
  src/common_types/src/schema.rs
  src/proxy/src/opentsdb/mod.rs
  src/proxy/src/opentsdb/types.rs
Due: check-license

fmt
  src/proxy/src/http/sql.rs
Due: check-license

fix logger
  src/proxy/src/opentsdb/mod.rs
Due: check-license

add convert output to response
  query_frontend/src/opentsdb/mod.rs
  query_frontend/src/opentsdb/types.rs
  src/common_types/src/schema.rs
  src/proxy/src/http/sql.rs
  src/proxy/src/opentsdb/mod.rs
  src/proxy/src/opentsdb/types.rs
Due: check-license

fix
  src/common_types/src/tests.rs
  src/proxy/src/opentsdb/mod.rs
  src/proxy/src/opentsdb/types.rs
Due: check-license

use BTreeMap
  query_frontend/src/lib.rs
  src/proxy/src/opentsdb/mod.rs
  src/proxy/src/opentsdb/types.rs
  src/query_frontend/src/datafusion_util.rs
  src/query_frontend/src/frontend.rs
  src/query_frontend/src/lib.rs
  src/query_frontend/src/opentsdb/mod.rs
  src/query_frontend/src/opentsdb/types.rs
  src/query_frontend/src/planner.rs
Due: check-license

add query converter
  query_frontend/src/opentsdb/mod.rs
  query_frontend/src/opentsdb/types.rs
  src/proxy/src/opentsdb/mod.rs
  src/proxy/src/opentsdb/types.rs
Due: check-license

add unit test
  query_frontend/src/opentsdb/mod.rs
  query_frontend/src/opentsdb/types.rs
  src/common_types/src/tests.rs
  src/proxy/src/opentsdb/types.rs
  src/query_frontend/src/tests.rs
Due: check-license

fix cr
  src/analytic_engine/src/sst/meta_data/cache.rs
Due: check-license

fix: random failure of test_collect_system_stats (#1459)
  src/components/system_stats/src/lib.rs
Due: check-license

modify license
  src/query_frontend/src/datafusion_util.rs
  src/query_frontend/src/opentsdb/mod.rs
  src/query_frontend/src/opentsdb/types.rs
Due: check-license

chore(horaemeta): fix conflicts
  .asf.yaml
  .github/workflows/check.yml
  .github/workflows/publish-nightly-image.yml
  CONTRIBUTING.md
  Dockerfile
  README.md
  docker/basic.sh
  docker/docker-compose.yaml
  docker/entrypoint.sh
  docker/tini
  horaemeta/docker/entrypoint.sh
  horaemeta/pkg/coderr/error_test.go
  licenserc.toml
Due: check-license

chore(horaemeta): remove useless files
  horaemeta/.asf.yaml
  horaemeta/LICENSE
Due: none

feat: support collect statistics about the engine (#1451)
  src/analytic_engine/src/engine.rs
  src/analytic_engine/src/instance/write.rs
  src/analytic_engine/src/sst/metrics.rs
  src/analytic_engine/src/sst/parquet/writer.rs
  src/analytic_engine/src/table/data.rs
  src/analytic_engine/src/table/metrics.rs
  src/benchmarks/src/merge_memtable_bench.rs
  src/benchmarks/src/merge_sst_bench.rs
  src/benchmarks/src/sst_bench.rs
  src/benchmarks/src/sst_tools.rs
  src/benchmarks/src/util.rs
  src/table_engine/src/engine.rs
  src/tools/src/bin/sst-convert.rs
Due: check-license

chore: rename horaemeta's ci
  .github/workflows/check.yml
Due: check-license

fix
  .github/workflows/check.yml
Due: check-license

rename horaedb's ci name
  .github/workflows/ci.yml
Due: check-license

fix
  .github/workflows/docker-build-image.yml
Due: check-license

chore: rename ci's prefix name (#1467)
  .github/workflows/check.yml
  .github/workflows/ci.yml
  .github/workflows/docker-build-image.yml
Due: check-license

fix github issue template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: none

chore: fix github issue template (#1470)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/question.md
Due: none

chore(docs): fix invalid repo links
  README-CN.md
Due: none

Path conditions:
  check-license: any of: \.(rs|toml|yml)$
  cargo-sort: any of: Cargo\.toml and \.toml$
