Repository apache/horaedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, cargo-sort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-toml
  - repo: local
    hooks:
      - id: check-license
        files: \.(rs|toml|yml)$
        language: system
        entry: make check-license-header
  - repo: local
    hooks:
      - id: cargo-sort
        name: Check Cargo.toml is sorted
        entry: cargo-sort
        args: ["--workspace"]
        language: rust
        types: [file, toml]
        files: Cargo\.toml
        pass_filenames: false

chore: ignore flush failure when flush (#1362)
  analytic_engine/src/instance/close.rs
Due: check-license

feat: support metrics for number of bytes fetched from the object store
  analytic_engine/src/sst/metrics.rs
  analytic_engine/src/sst/parquet/async_reader.rs
  components/parquet_ext/src/meta_data.rs
  components/parquet_ext/src/reader.rs
Due: check-license

refactor: observe the distribution of the fetched sst bytes' number
  analytic_engine/src/instance/read.rs
  analytic_engine/src/sst/metrics.rs
  analytic_engine/src/sst/parquet/async_reader.rs
  analytic_engine/src/table/metrics.rs
Due: check-license

chore: avoid using deprecated method
  analytic_engine/src/sst/parquet/async_reader.rs
Due: check-license

feat: support metrics for number of bytes fetched from object storage (#1363)
  analytic_engine/src/instance/read.rs
  analytic_engine/src/sst/metrics.rs
  analytic_engine/src/sst/parquet/async_reader.rs
  analytic_engine/src/table/metrics.rs
  components/parquet_ext/src/meta_data.rs
  components/parquet_ext/src/reader.rs
Due: check-license

fix: collect metrics for get_ranges
  analytic_engine/src/sst/metrics.rs
  components/parquet_ext/src/reader.rs
Due: check-license

chore: ignore the zero metric
  analytic_engine/src/sst/metrics.rs
  analytic_engine/src/sst/parquet/async_reader.rs
Due: check-license

fix: collect metrics for `get_ranges` (#1364)
  analytic_engine/src/sst/metrics.rs
  analytic_engine/src/sst/parquet/async_reader.rs
  components/parquet_ext/src/reader.rs
Due: check-license

refactor: reduce the number of the params in the sst write path
  analytic_engine/src/sst/factory.rs
  analytic_engine/src/sst/parquet/encoding.rs
  analytic_engine/src/sst/parquet/meta_data.rs
  analytic_engine/src/sst/parquet/writer.rs
Due: check-license

feat: avoid enable dictionary encoding for massive unique column values
  Cargo.lock
  analytic_engine/Cargo.toml
  analytic_engine/src/sst/parquet/writer.rs
Due: check-license, cargo-sort

chore: disable timeout for http api
  server/src/http.rs
  table_engine/src/provider.rs
Due: check-license

fix ci
  integration_tests/cases/env/local/ddl/query-plan.result
Due: none

chore: disable timeout for http api (#1367)
  integration_tests/cases/env/local/ddl/query-plan.result
  server/src/http.rs
  table_engine/src/provider.rs
Due: check-license

chore: disable block for http api
  proxy/src/grpc/sql_query.rs
  proxy/src/http/sql.rs
  proxy/src/lib.rs
  proxy/src/read.rs
Due: check-license

fix: ignore collecting fetched bytes stats when sst file is read only once
  analytic_engine/src/sst/parquet/async_reader.rs
Due: check-license

feat: support transfer table
  cluster/src/shard_set.rs
Due: check-license

chore: add unit tests
  analytic_engine/src/sst/parquet/writer.rs
Due: check-license

chore: avoid flag in the ObjectStoreMetricsObserver
  analytic_engine/src/sst/parquet/async_reader.rs
Due: check-license

chore: revert onfusing formatting on Cargo.toml
  analytic_engine/Cargo.toml
Due: check-license, cargo-sort

fix: ignore collecting fetched bytes stats when sst file is read only once (#1369)
  analytic_engine/src/sst/parquet/async_reader.rs
Due: check-license

chore: disable block for http api (#1368)
  proxy/src/grpc/sql_query.rs
  proxy/src/http/sql.rs
  proxy/src/lib.rs
  proxy/src/read.rs
Due: check-license

fix: wrong condition for need_custom_filter
  analytic_engine/src/sst/parquet/writer.rs
Due: check-license

chore: addres CR
  analytic_engine/src/instance/engine.rs
  analytic_engine/src/instance/open.rs
  analytic_engine/src/instance/serial_executor.rs
  analytic_engine/src/sst/factory.rs
  analytic_engine/src/sst/meta_data/cache.rs
  analytic_engine/src/sst/meta_data/metadata_reader.rs
  analytic_engine/src/sst/parquet/async_reader.rs
  analytic_engine/src/sst/parquet/row_group_pruner.rs
  analytic_engine/src/sst/parquet/writer.rs
  components/codec/src/columnar/timestamp.rs
  components/id_allocator/src/lib.rs
  server/src/grpc/remote_engine_service/mod.rs
  src/wal/src/rocksdb_impl/manager.rs
  table_engine/src/partition/rule/random.rs
Due: check-license

refactor: avoid duplicate codes
  analytic_engine/src/sst/parquet/async_reader.rs
Due: check-license

feat: avoid building dictionary for massive unique column values (#1365)
  Cargo.lock
  analytic_engine/Cargo.toml
  analytic_engine/src/instance/engine.rs
  analytic_engine/src/instance/open.rs
  analytic_engine/src/instance/serial_executor.rs
  analytic_engine/src/sst/factory.rs
  analytic_engine/src/sst/meta_data/cache.rs
  analytic_engine/src/sst/meta_data/metadata_reader.rs
  analytic_engine/src/sst/parquet/async_reader.rs
  analytic_engine/src/sst/parquet/encoding.rs
  analytic_engine/src/sst/parquet/meta_data.rs
  analytic_engine/src/sst/parquet/row_group_pruner.rs
  analytic_engine/src/sst/parquet/writer.rs
  components/codec/src/columnar/timestamp.rs
  components/id_allocator/src/lib.rs
  server/src/grpc/remote_engine_service/mod.rs
  src/wal/src/rocksdb_impl/manager.rs
  table_engine/src/partition/rule/random.rs
Due: check-license, cargo-sort

refactor: avoid duplicate codes (#1371)
  analytic_engine/src/sst/parquet/async_reader.rs
Due: check-license

feat: utilize the column cardinality for deciding whether to do dict
  analytic_engine/src/compaction/scheduler.rs
  analytic_engine/src/instance/flush_compaction.rs
  analytic_engine/src/sst/factory.rs
  analytic_engine/src/sst/meta_data/mod.rs
  analytic_engine/src/sst/parquet/encoding.rs
  analytic_engine/src/sst/parquet/writer.rs
  benchmarks/src/sst_tools.rs
  tools/src/bin/sst-convert.rs
Due: check-license

fix
  Cargo.lock
  Cargo.toml
  df_engine_extensions/src/dist_sql_query/physical_plan.rs
  integration_tests/cases/env/cluster/ddl/partition_table.result
  integration_tests/cases/env/cluster/ddl/partition_table.sql
  remote_engine_client/src/client.rs
  server/src/grpc/remote_engine_service/mod.rs
  table_engine/src/partition/rule/key.rs
Due: check-license, cargo-sort

chore: collect column cardinality from all the sst meta datas
  analytic_engine/src/instance/flush_compaction.rs
Due: check-license

chore: add unit test for collect_stats_from_metadatas
  analytic_engine/src/instance/flush_compaction.rs
Due: check-license

chore: add dev mail list
  README.md
Due: none

chore: address comment issues
  analytic_engine/src/instance/flush_compaction.rs
Due: check-license

config: add .asf.yaml
  .asf.yaml
Due: none

feat: utilize the column cardinality for deciding whether to do dict (#1372)
  analytic_engine/src/compaction/scheduler.rs
  analytic_engine/src/instance/flush_compaction.rs
  analytic_engine/src/sst/factory.rs
  analytic_engine/src/sst/meta_data/mod.rs
  analytic_engine/src/sst/parquet/encoding.rs
  analytic_engine/src/sst/parquet/writer.rs
  benchmarks/src/sst_tools.rs
  tools/src/bin/sst-convert.rs
Due: check-license

chore: git repo link type fix
  README-CN.md
Due: none

docs: update CONTRIBUTING.md
  CONTRIBUTING.md
Due: none

chore: add .asf.yaml (#1377)
  .asf.yaml
Due: none

ci: remove missing Required status
  .asf.yaml
Due: none

ci: remove missing Required status (#1383)
  .asf.yaml
Due: none

docs: update CONTRIBUTING.md (#1382)
  CONTRIBUTING.md
Due: none
