Repository apache/horaedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, cargo-sort

check-license:
  language: system
  entry: make check-license-header

cargo-sort:
  name: Check Cargo.toml is sorted
  entry: cargo-sort
  args:
  - --workspace
  language: rust
  pass_filenames: false

docs: add sudo for install commands (#1347)
  README-CN.md
Due: none

fix ci
  integration_tests/build_meta.sh
Due: none

fix ci again
  integration_tests/build_meta.sh
Due: none

fix: ensure channel size non zero (#1345)
  analytic_engine/src/sst/parquet/async_reader.rs
  integration_tests/build_meta.sh
Due: check-license

feat: request id as string
  Cargo.lock
  Cargo.toml
  analytic_engine/src/instance/flush_compaction.rs
  common_types/src/request_id.rs
  table_engine/src/provider.rs
  table_engine/src/remote/model.rs
  table_engine/src/table.rs
Due: check-license, cargo-sort

chore/test:add integration test for alter table options
  integration_tests/cases/env/cluster/ddl/alter_table.result
  integration_tests/cases/env/cluster/ddl/alter_table.sql
Due: none

chore/test:add integration test for alter table options
  integration_tests/cases/env/cluster/ddl/alter_table.sql
Due: none

test:add integration test for alter table options
  integration_tests/cases/env/cluster/ddl/alter_table.result
Due: none

test:add integration test for alter table options
  integration_tests/cases/env/cluster/ddl/alter_table.sql
Due: none

fix ci
  analytic_engine/src/compaction/scheduler.rs
  analytic_engine/src/instance/flush_compaction.rs
  analytic_engine/src/instance/read.rs
  benchmarks/src/merge_memtable_bench.rs
  benchmarks/src/merge_sst_bench.rs
  benchmarks/src/sst_tools.rs
  components/logger/src/lib.rs
  df_engine_extensions/src/dist_sql_query/test_util.rs
  interpreters/src/context.rs
  proxy/src/grpc/prom_query.rs
  proxy/src/http/prom.rs
  proxy/src/influxdb/mod.rs
  proxy/src/read.rs
  proxy/src/write.rs
  query_engine/src/datafusion_impl/mod.rs
  query_engine/src/datafusion_impl/task_context.rs
  query_frontend/src/frontend.rs
  server/src/grpc/remote_engine_service/mod.rs
Due: check-license

fix clippy
  common_types/src/request_id.rs
Due: check-license

add uuid
  Cargo.lock
  Cargo.toml
  common_types/Cargo.toml
  common_types/src/request_id.rs
  proxy/src/write.rs
Due: check-license, cargo-sort

change proto to dev branch
  Cargo.lock
  Cargo.toml
Due: check-license, cargo-sort

feat: use string for request id (#1349)
  Cargo.lock
  Cargo.toml
  analytic_engine/src/compaction/scheduler.rs
  analytic_engine/src/instance/flush_compaction.rs
  analytic_engine/src/instance/read.rs
  benchmarks/src/merge_memtable_bench.rs
  benchmarks/src/merge_sst_bench.rs
  benchmarks/src/sst_tools.rs
  common_types/Cargo.toml
  common_types/src/request_id.rs
  components/logger/src/lib.rs
  df_engine_extensions/src/dist_sql_query/test_util.rs
  interpreters/src/context.rs
  proxy/src/grpc/prom_query.rs
  proxy/src/http/prom.rs
  proxy/src/influxdb/mod.rs
  proxy/src/read.rs
  proxy/src/write.rs
  query_engine/src/datafusion_impl/mod.rs
  query_engine/src/datafusion_impl/task_context.rs
  query_frontend/src/frontend.rs
  server/src/grpc/remote_engine_service/mod.rs
  table_engine/src/provider.rs
  table_engine/src/remote/model.rs
  table_engine/src/table.rs
Due: check-license, cargo-sort

chore: disable frequently failed tests
  analytic_engine/src/tests/read_write_test.rs
Due: check-license

chore: update create table integration test result (#1344)
  integration_tests/cases/env/cluster/ddl/create_tables.result
Due: none

sleep 10s before test
  analytic_engine/src/tests/read_write_test.rs
Due: check-license

fix_create_table_result
  integration_tests/cases/env/cluster/ddl/create_tables.result
Due: none

fix: fix create table result (#1354)
  integration_tests/cases/env/cluster/ddl/create_tables.result
Due: none

Revert "fix: fix create table result (#1354)"
  integration_tests/cases/env/cluster/ddl/create_tables.result
Due: none

Revert "fix: fix create table result" (#1355)
  integration_tests/cases/env/cluster/ddl/create_tables.result
Due: none

fix: fix test create table result (#1357)
  integration_tests/cases/env/cluster/ddl/create_tables.result
Due: none

chore: disable frequently failed tests (#1352)
  analytic_engine/src/tests/read_write_test.rs
Due: check-license

test:add integration test for alter table options
  integration_tests/cases/env/cluster/ddl/alter_table.result
  integration_tests/cases/env/cluster/ddl/alter_table.sql
Due: none

doc: fix error link
  README-CN.md
Due: none

doc: fix error link
  README.md
Due: none

test: add integration test for alter table options (#1346)
  integration_tests/cases/env/cluster/ddl/alter_table.result
  integration_tests/cases/env/cluster/ddl/alter_table.sql
Due: none

doc: fix broken link (#1358)
  README-CN.md
  README.md
Due: none

fix license
  components/logger/Cargo.toml
  components/runtime/src/priority_runtime.rs
  query_frontend/src/logical_optimizer/mod.rs
  server/src/grpc/remote_engine_service/metrics.rs
Due: check-license, cargo-sort

fix
  Cargo.lock
  df_engine_extensions/src/dist_sql_query/mod.rs
  df_engine_extensions/src/dist_sql_query/physical_plan.rs
  df_engine_extensions/src/dist_sql_query/resolver.rs
  df_engine_extensions/src/dist_sql_query/test_util.rs
  query_engine/src/datafusion_impl/task_context.rs
  remote_engine_client/Cargo.toml
  remote_engine_client/src/client.rs
  server/src/grpc/remote_engine_service/mod.rs
Due: check-license, cargo-sort

add integration test of explain analyze
  df_engine_extensions/src/dist_sql_query/mod.rs
  df_engine_extensions/src/dist_sql_query/physical_plan.rs
  integration_tests/cases/env/cluster/ddl/partition_table.result
  integration_tests/cases/env/cluster/ddl/partition_table.sql
  remote_engine_client/src/client.rs
  table_engine/src/remote/model.rs
Due: check-license

add more integration tests for explain analyze
  df_engine_extensions/src/dist_sql_query/physical_plan.rs
  integration_tests/cases/env/cluster/ddl/partition_table.result
  integration_tests/cases/env/cluster/ddl/partition_table.sql
Due: check-license

chore: ignore flush failure when flush
  analytic_engine/src/instance/close.rs
Due: check-license

Path conditions:
  check-license: any of: \.(rs|toml|yml)$
  cargo-sort: any of: Cargo\.toml and \.toml$
