Repository apache/horaedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-license, cargo-sort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-yaml
      - id: check-toml
  - repo: local
    hooks:
      - id: check-license
        files: \.(rs|toml|yml)$
        language: system
        entry: make check-license-header
  - repo: local
    hooks:
      - id: cargo-sort
        name: Check Cargo.toml is sorted
        entry: cargo-sort
        args: ["--workspace"]
        language: rust
        types: [file, toml]
        files: Cargo\.toml
        pass_filenames: false

edit: Replay logs of different tables in parallel
  Cargo.toml
  src/analytic_engine/Cargo.toml
  src/analytic_engine/src/instance/wal_replayer.rs
Due: check-license, cargo-sort

Update Cargo.toml
  Cargo.toml
Due: check-license, cargo-sort

cargo fmt
  src/analytic_engine/src/instance/wal_replayer.rs
Due: check-license

chore: rename more ceresdb to horaedb
  src/analytic_engine/src/tests/read_write_test.rs
  src/horaedb/src/setup.rs
Due: check-license

update rand
  Cargo.lock
  Cargo.toml
  src/components/skiplist/benches/bench.rs
  src/components/table_kv/src/obkv/tests.rs
  src/components/table_kv/src/tests.rs
Due: check-license, cargo-sort

refactor by CR
  horaemeta/server/coordinator/scheduler/nodepicker/hash/consistent_uniform.go
  horaemeta/server/coordinator/scheduler/nodepicker/hash/consistent_uniform_test.go
  horaemeta/server/service/http/route.go
  licenserc.toml
Due: check-license

chore: upgrade rustc version (#1489)
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  Cargo.lock
  Cargo.toml
  rust-toolchain.toml
  src/analytic_engine/src/instance/reorder_memtable.rs
  src/analytic_engine/src/lib.rs
  src/analytic_engine/src/memtable/layered/mod.rs
  src/analytic_engine/src/table/mod.rs
  src/benchmarks/src/bin/sst-tools.rs
  src/common_types/src/column_block.rs
  src/components/codec/src/columnar/mod.rs
  src/components/object_store/src/disk_cache.rs
  src/components/parquet_ext/src/prune/equal.rs
  src/components/partitioned_lock/src/lib.rs
  src/components/profile/src/lib.rs
  src/components/skiplist/Cargo.toml
  src/components/table_kv/Cargo.toml
  src/df_engine_extensions/src/dist_sql_query/mod.rs
  src/horaedb/bin/horaedb-server.rs
  src/proxy/src/handlers/mod.rs
  src/proxy/src/hotspot.rs
  src/query_engine/src/datafusion_impl/physical_plan_extension/prom_align.rs
  src/query_frontend/src/logical_optimizer/type_conversion.rs
  src/query_frontend/src/planner.rs
  src/remote_engine_client/src/client.rs
  src/router/src/rule_based.rs
  src/table_engine/src/partition/rule/df_adapter/extractor.rs
  src/table_engine/src/partition/rule/df_adapter/mod.rs
  src/table_engine/src/partition/rule/key.rs
  src/tools/src/bin/sst-metadata.rs
Due: check-license, cargo-sort

fix: bump influxql, fix query priority
  Cargo.lock
  Cargo.toml
  integration_tests/cases/env/local/ddl/query-plan.result
  integration_tests/cases/env/local/ddl/query-plan.sql
Due: check-license, cargo-sort

ci check lock
  .github/workflows/ci.yml
Due: check-license

chore: rename more ceresdb to horaedb (#1494)
  src/analytic_engine/src/tests/read_write_test.rs
  src/horaedb/src/setup.rs
Due: check-license

Update Cargo.lock
  Cargo.lock
Due: none

fix: bump influxql, fix query priority (#1495)
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  integration_tests/cases/env/local/ddl/query-plan.result
  integration_tests/cases/env/local/ddl/query-plan.sql
Due: check-license, cargo-sort

chore: add NOTICE file and ASF header (#1491)
  .github/workflows/ci.yml
  DISCLAIMER
  Makefile
  NOTICE
  horaemeta/Makefile
  integration_tests/Makefile
  integration_tests/sdk/go/alteraddcolumn.go
  integration_tests/sdk/go/autocreatetable.go
  integration_tests/sdk/go/issue-779.go
  integration_tests/sdk/go/main.go
  integration_tests/sdk/go/util.go
  licenserc.toml
Due: check-license

refactor execution props and change scan_batch_size to NonZeroUsize
  src/analytic_engine/src/manifest/details.rs
  src/components/parquet_ext/src/prune/min_max.rs
Due: check-license

remove dashmap
  Cargo.lock
  Cargo.toml
  src/analytic_engine/Cargo.toml
  src/analytic_engine/src/instance/wal_replayer.rs
Due: check-license, cargo-sort

add comments
  src/analytic_engine/src/instance/wal_replayer.rs
Due: check-license

remove vec allocs
  src/analytic_engine/src/instance/wal_replayer.rs
Due: check-license

feat: replay logs of different tables in parallel (#1492)
  Cargo.lock
  src/analytic_engine/src/instance/wal_replayer.rs
Due: check-license

remove comments
  src/components/parquet_ext/src/prune/min_max.rs
  src/components/tracing_util/src/logging.rs
  src/table_engine/src/partition/rule/key.rs
Due: check-license

bump etcd
  horaemeta/go.mod
  horaemeta/go.sum
Due: none

fix compile
  horaemeta/server/config/config.go
  horaemeta/server/etcdutil/config.go
  horaemeta/server/server.go
  horaemeta/server/storage/storage_test.go
Due: none

fix: check all files
  licenserc.toml
Due: check-license

new yml
  .github/workflows/asf-header.yml
  .github/workflows/ci.yml
Due: check-license

fix meta
  .github/workflows/meta-ci.yml
Due: check-license

code format
  src/components/parquet_ext/src/prune/min_max.rs
Due: check-license

feat: optimize minor issues (#1496)
  src/analytic_engine/src/manifest/details.rs
  src/components/parquet_ext/src/prune/min_max.rs
  src/components/tracing_util/src/logging.rs
  src/table_engine/src/partition/rule/key.rs
Due: check-license

chore: add some dependency project descriptions in notice
  NOTICE
  licenses/LICENSE-consistent.txt
Due: none

impl horaectl
  Cargo.lock
  Cargo.toml
  horaectl/Cargo.toml
  horaectl/src/cmd/cluster.rs
  horaectl/src/cmd/cluster_diagnose.rs
  horaectl/src/cmd/cluster_list.rs
  horaectl/src/cmd/cluster_schedule.rs
  horaectl/src/cmd/mod.rs
  horaectl/src/cmd/quit.rs
  horaectl/src/main.rs
  horaectl/src/operation/cluster.rs
  horaectl/src/operation/mod.rs
  horaectl/src/util/mod.rs
Due: check-license, cargo-sort

fmt
  Cargo.lock
  horaectl/Cargo.toml
Due: check-license, cargo-sort

chore: add DEPENDENCIES
  DEPENDENCIES.tsv
  Makefile
  NOTICE
  horaemeta/DEPENDENCIES.csv
Due: none

chore: update NOTICE
  NOTICE
  licenserc.toml
  src/components/future_ext/src/cancel.rs
  src/components/size_ext/src/lib.rs
  src/components/skiplist/Cargo.toml
  src/components/skiplist/benches/bench.rs
  src/components/skiplist/src/key.rs
  src/components/skiplist/src/lib.rs
  src/components/skiplist/src/list.rs
  src/components/skiplist/tests/tests.rs
  src/components/tracing_util/Cargo.toml
  src/components/tracing_util/src/lib.rs
  src/components/tracing_util/src/logging.rs
  src/server/src/federated.rs
  src/server/src/session.rs
Due: check-license, cargo-sort

chore: add some dependency project descriptions in notice (#1499)
  DEPENDENCIES.tsv
  Makefile
  NOTICE
  horaemeta/DEPENDENCIES.csv
  licenserc.toml
  licenses/LICENSE-consistent.txt
  src/components/future_ext/src/cancel.rs
  src/components/size_ext/src/lib.rs
  src/components/skiplist/Cargo.toml
  src/components/skiplist/benches/bench.rs
  src/components/skiplist/src/key.rs
  src/components/skiplist/src/lib.rs
  src/components/skiplist/src/list.rs
  src/components/skiplist/tests/tests.rs
  src/components/tracing_util/Cargo.toml
  src/components/tracing_util/src/lib.rs
  src/components/tracing_util/src/logging.rs
  src/server/src/federated.rs
  src/server/src/session.rs
Due: check-license, cargo-sort

fix
  Cargo.lock
  Cargo.toml
  horaectl/Cargo.toml
  horaectl/src/cmd/cluster.rs
  horaectl/src/cmd/cluster_diagnose.rs
  horaectl/src/cmd/cluster_list.rs
  horaectl/src/cmd/cluster_schedule.rs
  horaectl/src/cmd/mod.rs
  horaectl/src/cmd/quit.rs
  horaectl/src/main.rs
  horaectl/src/operation/cluster.rs
  horaectl/src/util/mod.rs
Due: check-license, cargo-sort

refactor
  Cargo.lock
  Cargo.toml
  horaectl/Cargo.toml
  horaectl/src/cmd/cluster.rs
  horaectl/src/cmd/cluster_schedule.rs
  horaectl/src/cmd/mod.rs
  horaectl/src/main.rs
  horaectl/src/operation/cluster.rs
  src/tools/Cargo.toml
Due: check-license, cargo-sort
